@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffff;
  --gray: #8B8D98;
  --gray-light: #a5a7b0;
  --gray-dark: #6e7080;
  --accent: #207947;
  --accent-light: #2a9d5d;
  --accent-dark: #176035;
  --accent-foreground: #ffffff;
  --accent-hover: #176035;
  --accent-foreground-hover: #ffffff;
  --accent-50: rgba(32, 121, 71, 0.05);
  --accent-100: rgba(32, 121, 71, 0.1);
  --accent-200: rgba(32, 121, 71, 0.2);
  --accent-300: rgba(32, 121, 71, 0.3);
  --accent-400: rgba(32, 121, 71, 0.4);
  --accent-500: rgba(32, 121, 71, 0.5);
  --accent-600: rgba(32, 121, 71, 0.6);
  --accent-700: rgba(32, 121, 71, 0.7);
  --accent-800: rgba(32, 121, 71, 0.8);
  --accent-900: rgba(32, 121, 71, 0.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-gray: var(--gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* No aplicamos temas distintos en modo oscuro ya que usamos colores fijos */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
